{%extends 'all-fold/base.html'%}
{% load bootstrap3 %}
{% load static%}
{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/diff.css' %}">
{% endblock %}

{% block content %} 
{{ block.super}}
<!-- {% include "navbar.html" %} -->
<div class="dew" style="background-color: black;">
<div class="container">
<h1 style="color: #66fcf1; ">Different pictures</h1><hr>
<div id="gallery" class="container-fluid">  
  <img src="{% static 'images/ariana.jpg'%}" class="card img-responsive">
  <img src="{% static 'images/ok.jpg'%}" class="card img-responsive">
<img src="{% static 'images/fine.jpg'%}" class="card img-responsive">
  <img src="{% static 'images/wes.jpg'%}" class="card img-responsive">
  <img src="{% static 'images/pari.jpg'%}" class="card img-responsive">
  <img src="{% static 'images/glass.jpg'%}" class="card img-responsive">
  <img src="{% static 'images/food.jpg'%}" class="card img-responsive">
  <img src="{% static 'images/day.jpg'%}" class="card img-responsive">
  <img src="{% static 'images/rat.jpg'%}" class="card img-responsive">
  <img src="{% static 'images/ryt.jpg'%}" class="card img-responsive">
  <img src="{% static 'images/wed.jpg'%}" class="card img-responsive">
  <img src="{% static 'images/light.jpg'%}" class="card img-responsive">
  <img src="{% static 'images/wers.jpg'%}" class="card img-responsive">
  <img src="{% static 'images/eye.jpg'%}" class="card img-responsive">
  <img src="{% static 'images/rt.jpg'%}" class="card img-responsive">
  <img src="{% static 'images/dev.jpg'%}" class="card img-responsive">
  <img src="{% static 'images/wew.jpg'%}" class="card img-responsive">
  <img src="{% static 'images/look.jpg'%}" class="card img-responsive">
  
  
  
</div>

</div>
</div>
{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% bootstrap_javascript %}
{% endblock %}
{% endblock %}