{%extends 'all-fold/base.html'%}
{% load bootstrap3 %}
{% load static%}
{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/.css' %}">
{% endblock %}
{% block content %}
{{block.super}}
<div class="container">
    {% for image in images %}
    <h2> {{image.name}}  </h2>
    <p>{{image.description}}</p>
    {% endfor %}
</div>
<!--Display news Article images  -->
{% if image.blog_image %}
<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
  <img src="{{image_blog.url}}" class="img-responsive" alt="Image">
</div>
{%else%}
<h1>This image  does not have an image</h1>
{%endif%}
</div>

</div> 
{% endblock %}